"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
  "exception-reporting":
    userId: "9c2aa83e-699a-aa75-5953-428fcc051a75"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  nuclide:
    "nuclide-home":
      showHome: false
  welcome:
    showOnStartup: false
